<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shop Cars</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="cars">
            <h2>CARS SHOP</h2>
            <div class="select-options">
                <select id="brand" v-model="brand" v-on:change="filteredCars">
                    <option value="">Brands</option>
                    <option v-bind:key=('brand') v-for="brand in options.brands" :brand="brand" :value="brand.value">
                    {{brand.title}}
                    </option>
                </select>

                <select id="year" v-model="year" v-on:change="filteredCars" class="text-danger">
                    <option value="">Year</option>
                    <option v-bind:key=('year') v-for="year in options.years" :year="year" :value="year.value">
                    {{year.title}}
                    </option>
                </select>

                <select id="engine" v-model="engine" v-on:change="filteredCars">
                    <option value="">Engine</option>
                    <option v-bind:key=('engine') v-for="engine in options.engines" :engine="engine" :value="engine.value">
                    {{engine.title}}
                    </option>
                </select>

                <select id="color" v-model="color" v-on:change="filteredCars">
                    <option value="">Color</option>
                    <option v-bind:key=('color') v-for="color in options.colors" :color="color" :value="color.value">
                    {{color.title}}
                    </option>
                </select>

                <select id="speed" v-model="speed" v-on:change="filteredCars">
                    <option value="">Max Speed</option>
                    <option v-bind:key=('speed') v-for="speed in options.speeds" :speed="speed" :value="speed.value">
                    {{speed.title}}
                    </option>
                </select>

                <select id="price" v-model="price" v-on:change="filteredCars">
                    <option value="">Price</option>
                    <option v-bind:key=('price') v-for="price in options.prices" :value="price.value">
                    {{price.title}}
                    </option>
                </select>
            </div>

            <div v-for="product in responseAjax" :product="product" class="carsList" v-show="!carSelected">
                <div class="carBox">
                    <p>{{product.brand}}</p>
                    <p>{{product.model}}</p>
                    <p>{{product.price}} EUR</p>
                    <div v-on:click="openCar(product.id_car)" class="moreBtn">More...</div>
                </div>
            </div>
            <div v-show="carSelected">
                <div class="carSelected">
                    <h2><b>{{responseAjax.brand}}</b></h2>
                    <p>Model: {{responseAjax.model}}</p>
                    <p>Year: {{responseAjax.year}}</p>
                    <p>Engine: {{responseAjax.engine}}</p>
                    <p>Max speed: {{responseAjax.speed}}</p>
                    <p>Color: {{responseAjax.color}}</p>
                    <p><b>{{responseAjax.price}} EUR</b></p>
                </div>

                <div class="orderForm">
                    <form @submit.prevent="checkForm">

                        <input v-model="firstName" type="text" name="firstName" placeholder=" First Name">
                        <input v-model="lastName" type="text" name="lastName" placeholder=" Last Name">
                        <input v-model="email" type="text" name="email" placeholder=" Email">
                        <span v-if="errMessage != ''" v-bind:class="{ active: isActive, 'text-danger': hasError }">{{ errMessage }}</span>

                        <div class="payment-box">
                            <div>
                                <input  v-model="payment" value="card" type="radio" name="radio" class="radio" id="radio1" checked/>
                                <label for="radio1">Credit Card</label>
                            </div>
                            <div>
                                <input  v-model="payment" value="cash" type="radio" name="radio" class="radio" id="radio2" />
                                <label for="radio2">Cash</label>
                            </div>
                        </div>

                        <div class="order-btn"><button type="submit">Complete Purchase</button></div>
                    </form> 
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="js/vue.js"></script>
    </body>
</html>
